body {
    margin: 0;
    font-family: "Poppins", serif;
    font-weight: 500;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* font-weight: bold; */

}

.calculator {
    width: 300px;
    background-color: #1e1e1e;
    border: 5px solid hsl(0, 0%, 11%);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    gap: 2px;
    padding: 5px;
}

.display {
    background: #2b2b2b;
    color: #00ff00;
    font-size: 2rem;
    padding: 20px;
    text-align: right;
    border-bottom: 2px solid #3a3a3a;

}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 5px;
    background: #3a3a3a;

}

.btn {
    background: #4a4a4a;
    color: white;
    border: none;
    padding: 20px;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
}

.btn.operator {
    background: #f57c00;
}

.btn.equals {
    background: #00c853;

}

.btn.zero {
    grid-column: span 2;
}

.btn:hover {
    filter: brightness(1.2);
}